//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 20 18:15:01 2021
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

